* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.nav-wrapper {
    margin: 0 auto;
    width: 620px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.nav-list li:not(:last-child) {
    margin-right: 82px;
}

.nav-list li a {
    text-decoration: none;
    color: #FF0000;
}

.nav-img {
    background-image: url("../img/bg.png");
    width: 1280px;
    height: 789px;
}

.main-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    padding-top: 48px;
    letter-spacing: 3.3px;
}

.main-desc {
    font-size: 16px;
    line-height: 26px;
    margin: 38px auto 0;
    color: #373737;
    letter-spacing: 2.4px;
    width: 1145px;
    text-align: center;
}

.main-btn {
    display: block;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding: 18px 43px;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    margin: 66px auto 82px;
}

.copyright {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    margin-right:105px;
    margin-bottom: 29px;
}
