.header {
  padding: 50px;
  background-color: #000000;
  &__container {
    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    span {
      position: absolute;
      top: -16px;
      right: -14px;
      font-weight: 400;
      font-size: 18px;
    }
  }
}

.header__title {
  span {
    font-weight: 700;
    font-size: 2.5rem;
  }
}

.header__cart {
  color: #FFFFFF;
  font-size: 26px;
}