ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201d;
    color: #937341;
    cursor: pointer;
}

.tabs-nav a {
    color: #937341;
    text-decoration: none;
}

.active {
    background-color: #937341;
    /*color: #23201d;*/
    color: red;
}

.hide {
    display: none;
}

.show {
    display: block;
}