.clients {
    background-image: url(../../img/bg/parallax-bg.jpeg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title-big {
    font-size: 32px;
    color: #fff;
    padding-top: 106px;
}

.blue-line {
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 87px;
}

.clients-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 107px;
    padding-bottom: 191px;
}
