 .news {
     padding-bottom: 71px;
 }
 
 .news-item-right,
 .news-item-left {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: right;
    width: 554px;
}

.news-item-title {
    font-size: 18px;
    font-weight: 700;
    color: #353A3D;
    padding: 14px;
}

.news-item-right p,
.news-item-left p,
.news-item-with-description p{
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: right;
    padding-right: 14px;
    padding-left: 13px;
}

.news-item-with-description {
    display: grid;
    grid-template-columns: 483px 374px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: right;
}

.news-item-with-description .news-item-title {
    padding-top: 41px;
    padding-right: 24px;
}

.news-item-with-description p{
    padding-right: 24px;
}

.news-item-without-description {
    text-align: center;
    background: #F9F7F7;
    font-size: 18px;
    line-height: 20px;
    color: #353A3D;
    font-weight: 700;
}

/* Grid */

.news-items-grid-template {
    display: grid;
    grid-template-columns: 277px 35px 242px 60px 242px 35px 277px;
    grid-template-rows: 259px 418px 418px 259px;
    row-gap: 44px;
    justify-content: space-between;
}

.news-item-with-description-top {
    grid-column: 1 / 6;
}

.news-item-without-description-top {
    grid-column: 7 / 8;
}

.news-item-left {
    grid-column: 1 / 4;
}

.news-item-right {
    grid-column: 5 / 7;
}

.news-item-without-description-bottom {
    grid-column: 1 / 2;
}

.news-item-with-description-bottom {
    grid-column: 3 / 8;
}


