.fade {
    -webkit-animation: fade 3s;
    animation: fade 3s;
    -moz-animation: fade 3s;
    -o-animation: fade 3s;
}

@-webkit-keyframes fade {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity:0}
}

@-moz-keyframes fade{
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity:0}
}

@keyframes fade {
    0% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
@-o-keyframes fade {
    0% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}

}