:root {
    --theme-color: #efefef;
    --primary-color: #000e29;
}

[data-theme="light"] {
    --theme-color: #efefef;
    --primary-color: #253c78;
}
[data-theme="dark"] {
    --theme-color: #0f3057;
    --primary-color: #e7e7de;
}

.theme {
    transition: all 0.4s ease;
    position: relative;
    background: var(--theme-color);
    color: var(--primary-color);
    min-height: 100vh;
}
.theme * {
    transition: all 0.4s ease;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.nav-wrapper {
    margin: 0 auto;
    width: 620px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.nav-list {
    list-style: none;
}

.nav-list li {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.nav-list li:not(:last-child) {
    margin-right: 82px;
}

.nav-list li a {
    text-decoration: none;
    color: var(--primary-color);
}

.nav-img {
    background-image: url("../img/bg.png");
    width: 1280px;
    height: 789px;
}

.main-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    padding-top: 48px;
    letter-spacing: 3.3px;
}

.main-desc {
    font-size: 16px;
    line-height: 26px;
    margin: 38px auto 0;
    color: var(--primary-color);
    letter-spacing: 2.4px;
    width: 1145px;
    text-align: center;
}

.main-btn {
    display: block;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding: 18px 43px;
    color: var(--theme-color);
    background: var(--primary-color);
    border-radius: 4px;
    border: none;
    margin: 66px auto 82px;
}

footer {
    padding-bottom: 29px;
}

.copyright {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: var(--primary-color);
    text-align: right;
    margin-right:105px;
}

/*Switcher*/
.switch-wrapper {
    position: fixed;
    top: 18px;
    right: 8%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--theme-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}