html, button {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    color: #484848;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
}

td, tr, thead, th {
    border: 1px solid #CBCBCB;
}

.table {
    border: 24px solid #3A4965;
    border-collapse: collapse;
    width: 1192px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.first-column {
    width: 322px;
}

.table-head {
    background: #FAFAFA;
}

.head-flex {
    display: flex;
    align-items: center;
}

.head-options {
    font-size: 18px;
    line-height: 28px;
}

.head-options span {
    font-size: 30px;
    line-height: 28px;
}

.head-lighrgreen {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background: #89C331;
}

.head-red {
    font-size: 30px;
    line-height: 28px;
    color: #FFFFFF;
    background: #F04A56;
    padding: 21px;
}

.head-darkgreen {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background: #20807C;
}

.price-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.first-row {
    background: #F2F2F2;
}

.second-row {
    background: #E3E3E3;
}

.third-row {
    background: #F2F2F2;
}

.fourth-row {
    background: #E3E3E3;
}

.fifth-row {
    background: #F2F2F2;
}

.sixth-row {
    background: #E3E3E3;
}

.price {
    position: relative;
    font-size: 60px;
    line-height: 1;
    padding-top: 26px;
    padding-bottom: 10px;
    text-align: left;
    padding: 19px 33px 8px;
}

.price sup {
    position: absolute;
    font-size: 24px;
    top: 11px;
    right: 110px;
    margin-bottom: 0;
}

.price span {
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    top: 26px;
    right: -120px;
    width: 150px;
}

.column-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border: none;
}

.column-img img {
    margin-right: 4px;
}

.btn {
    width: 195px;
    height: 54px;
    border-radius: 5px; 
    outline: none;
    border: none;
    margin: 29px;
    font-weight: 700;
    line-height: 16px;
    color: #FFFFFF;
}

.btn-black {
    position: relative;
    background: #484848;
    transition: background 1.2s;
}

.btn-black:hover {
    background: #404040;
}

.btn-black_pseudo {
    content: '';
    position: absolute;
    width: 100%;
    height: 9px;
    background: #404040;
    border-radius: 0px 0px 5px 5px;
    bottom: 0;
    left: 0;
}

.btn-lightgreen {
    position: relative;
    background: #89C331;
    transition: background 1.2s;
}

.btn-lightgreen:hover {
    background: #79B027;
}

.btn-lightgreen_pseudo {
    content: '';
    position: absolute;
    width: 100%;
    height: 9px;
    background: #79B027;
    border-radius: 0px 0px 5px 5px;
    bottom: 0;
    left: 0;
}

.btn-red  {
    position: relative;
    background: #F04A56;
    transition: background 1.2s;
}

.btn-red:hover {
    background: #DF3A46;
}

.btn-red_pseudo {
    content: '';
    position: absolute;
    width: 100%;
    height: 9px;
    background: #DF3A46;
    border-radius: 0px 0px 5px 5px;
    bottom: 0;
    left: 0;
}

.btn-darkgreen {
    position: relative;
    background: #20807C;
    transition: background 1.2s;
}

.btn-darkgreen:hover {
    background: #16736F;
}

.btn-darkgreen_pseudo {
    content: '';
    position: absolute;
    width: 100%;
    height: 9px;
    background: #16736F;
    border-radius: 0px 0px 5px 5px;
    bottom: 0;
    left: 0;
}


