.modalContainer {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modalContainer.active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  width: 60%;
  background-color: #e86056;
  text-align: center;
  padding-bottom: 30px;
  margin-top: 20px;
  color: white;
  position: relative;
  transform: scale(1);
  transition: 0.4s all;
}

.modal.active {
  transform: scale(1);
}

.title {
  margin: 0;
  background-color: #ed3f32;
  padding: 10px;

  span {
    position: absolute;
    top: 8px;
    right: 14px;
    cursor: pointer;
  }
}

.text {
  margin-top: 20px;
  margin-bottom: 20px;
}
