@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    margin: 0;
}

.input-block {
    border: 1px solid #343434;
    margin-left: 30px;
    margin-top: 30px;
    width: 500px;
    border-radius: 50px;
    background-color: #b3b3b3;
    padding: 15px 50px;
}

.title {
    display: inline-block;
    margin-right: 20px;
}

.input {
    height: 25px;
}

.input:focus {
    outline: none;
}

.current-price {
    position: absolute;
    font-size: 12px;
    top: 6px;
    left: 168px;
}

.fa-times {
    cursor: pointer;
}

.valid {
    border: 2px solid #004e00;
}

.valid-background {
    background-color: rgba(0, 128, 0, 0.11);
}

.invalid {
    border: 2px solid #ff3333;
}