.footer {
    background-color: #000000;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 10fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
}