.header {
    background-image: url(../../img/bg/header-bg.jpeg);
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    padding-bottom: 74px;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    color: #FFFFFF;
}

.nav-logo {
    display: flex;
    align-items: center;
    padding: 27px 22px;
}

.nav-logo img {
    width: 27px;
    margin-right: 27px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items li {
    list-style-type: none;
    margin-right: 35px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1;
    transition: color 0.3s;
}

.nav-items li:last-child {
    margin-right: 0;
}

.nav-items li:hover {
    color: #14B9D5;
}

.nav-search {
    padding: 27px;
    background-color: #000000;
}

.nav-search:hover {
    cursor: pointer;
}

.btn-green {
    background-color: #89CA62;
    margin-right: 20px;
    transition: background-color 0.3s;
}

.btn-green:hover {
    background-color: #7ac54e;
    cursor: pointer;
}

.btn-blue {
    background-color: #14B9D5;
    transition: background-color 0.3s;
}

.btn-blue:hover {
    background-color: #0da8c4;
    cursor: pointer;
}

.to-top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 40;
    position: fixed;
    bottom: 30px;
    right: 35px;
    font-size: 25px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.62);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 0.7s;
}

.hidden {
    opacity: 0;
}

