.posts {
    background: #F2F2F2;
    padding-bottom: 72px;
}

.posts-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.posts-item {
    background-color: #fff;
    text-align: center;
    width: 370px;
    font-weight: 700;
    font-size: 18px;
    color: #353A3D;
    margin-bottom: 30px;
}

.posts-item p {
    padding-top: 22px;
    padding-bottom: 20px;
}

#hideItem {
    display: block;
    font-size: 20px;
    margin: 0 auto;
    background-color: rgb(136, 70, 70);
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 20px;
}
