.hamburger-menu__wrapper {
    width: 32px;
    margin-top: 26px;
    position: fixed;
    top: -7px;
    right: 4%;
    background-color: #000;
    height: 28px;
    @media (min-width: 768px) {
        display: none;
    }
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 20px;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: calc(4% + 7px);

    width: 16px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #FFFFFF;

    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -5px;
}

.menu__btn>span::after {
    content: '';
    top: 5px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 58px;
    right: -100%;

    margin: 0;

    list-style: none;
    padding-left: 0;
    width: 182px;

    background-color: #F5F5F5;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 4px 12px;
    text-transform: uppercase;

    color: #333333;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;

    text-decoration: none;

    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #E5E5E5;
}

.menu__item:hover {
    background-color: #CFD8DC;
}