.footer {
    background-color: #000000;
    padding-top: 38px;
    padding-bottom: calc(20px + 3vw);
    text-align: center;
    color: $footer-text-color;

    &__text {
        font-size: 14px;
        line-height: 24px;
        margin-top: calc(4px + 1.5vw);
        @media (min-width: 768px) {
            font-size: 16px;
            line-height: 28px;
        }
    }

    &__socials {
        margin: 0 auto;
        margin-top: calc(4px + 1.5vw);
        width: 218px;
        @include flex();
    }

    &__contacts {
        margin-top: calc(4px + 1.5vw);
        font-size: 14px;
        line-height: 24px;
        @include flex();
        flex-direction: column;
        @media (min-width: 768px) {
            font-size: 16px;
            line-height: 26px;
            flex-direction: row;
            justify-content: center;
        }
    }

    &__socials i:before {
        position: absolute;
        top: 8px;
        left: 10px;
    }

    &__contacts a {
        text-decoration: none;
        color: $footer-text-color;
        transition: 0.5s;
    }
    
    &__contacts a:hover {
        color: $hover-color;
    }
}

.icon {
    border: 2px solid transparent;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    position: relative;
}

.icon.fa-rss {
    color: #BF6F23;
    border-color: #BF6F23;
}

.icon.fa-facebook-f {
    color: #2C457A;
    border-color: #2C457A;
}

.icon.fa-twitter {
    color: #3588AF;
    border-color: #3588AF;
}

.icon.fa-basketball-ball {
    color: #A75E88;
    border-color: #A75E88;
}

.icon.fa-pinterest-p {
    color: #9D1922;
    border-color: #9D1922;
}





