body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

h2, h3, p {
    margin: 0;
}

.container {
    width: 92%;
    margin: 0 auto;
    position: relative;
    @media (min-width: 768px) {
        max-width: 1200px;
    }
}

.active {
    color: $hover-color;
}

.title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    @media (min-width: 768px) {
        font-size: 16px;
    }
}

.title--white {
    color: #FEFEFE;
}