.header-bg img{
    width: 100%;
    margin-top: 84px;
    @media (min-width: 768px) {
        margin-top: 8px;
    }
}

.nav__wrapper {
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}

.nav {
    width: 60vw;
    margin: 0 auto;
    padding: 42px 0;
    @include flex();
}

.nav li {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 22px;
    color: $title-color;
    transition: 0.6s;
}

.nav a:hover {
    color: $hover-color;
}

.title--padding-top {
    padding-top: calc(20px + 3vw);
}