.recent-posts {
    padding-bottom: 40px;
}

.post {
    @include grid(300px, 1fr, 28px);
    margin-top: 22px;
    @media (min-width: 672px) {
        @include grid(434px, 1fr, 28px);
    }

    &__item {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__content-wrapper {
        max-width: 432px;
        @media (min-width: 768px) {
            margin-left: 20px;
        }
    }
    
    &__img {
        width: 160px;
    }
    
    &__title {
        font-size: 14px;
        line-height: 30px;
        color: $title-color;
    }
    
    &__link {
        text-decoration: none;
        font-size: 11px;
        line-height: 20px;
        color: $links-color;
        transition: 0.5s;
    }
    
    &__link:hover {
        color: $hover-color;
    }
    
    &__text {
        display: none;
        font-size: 14px;
        line-height: 26px;
        color: $text-color;
        @media (min-width: 768px) {
            display: block;
        }
    }
}

.instagram {
    padding-top: 38px;
    padding-bottom: 42px;
    position: relative;

    &__items-container {
        margin-top: 34px;
        @include flex();
    }
    
    &__items-container img {
        width: 100%;
    } 

    &__item {
        box-sizing: border-box;
        max-width: 100%;
        margin-left: 10px;
        @media (min-width: 768px) {
            width: 33%;
            }
    }

    &__item:first-child {
        margin-left: 0;
    }
    
    &__item-2 {
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
    }
    
    &__item-3 {
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
    }
    
    &__item-4 {
        display: none;
        @media (min-width: 1200px) {
            display: block;
        }
    }
}

.slogan {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: $title-color;
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}


