@mixin flex($align: center, $justify: space-between) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin grid($size, $columnAmount, $gap) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($size, $columnAmount));
    gap: $gap;
}

