.password-form {
    display: flex;
    flex-direction: column;
}
.input-wrapper {
    position: relative;
    width: 200px;

}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
}

.input-wrapper i {
    position: absolute;
    right: 25px;
    top: 30px;
    color: grey;
}

.btn{
    width: 150px;
}

.hidden {
    display: none;
}

.modal {
    width: 50%;
    height: 5vh;
    border-radius: 30px;
    text-align: center;
    padding: 50px;
    font-size: 25px;
    line-height: 1;
    color: #333333;
    position: absolute;
    top: -175px;
    left: 25%;
    transition: all 0.8s;
}

.modal-success {
    background-color: rgba(138, 168, 110, 0.45);
}

.modal-error {
    background-color: rgba(168, 110, 110, 0.45);
}