
.clients-parallax  {
    position: relative;
	width: 100%;
	height: 588px;
	overflow: hidden;
}

.clients-parallax::before {
    content: '';
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
	transform: translateZ(-150px) scale(4);
	background: center/cover no-repeat;
}

.clients-parallax-1::before {
    background-image: url(../../img/bg/parallax-bg.jpeg);
}

.clients-parallax-content-wrapper {
    position: absolute;
    text-align: center;
	transform: translateZ(-25px) scale(1.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.title-big {
    font-size: 38px;
    color: #fff;
    padding-top: 130px;
}

.blue-line {
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 70px;
}

.clients-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    width: 1170px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 107px;    
}

.clients-list img {
    width: 60%;  
}


