 html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    box-sizing: border-box;
}

.main-page {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 50px;
}

h1, h2, h3, li, ul, p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
    line-height: 1;
    padding-top: 49px;
    padding-bottom: 52px;
    text-align: center;
}

.btn-header {
    width: 204px;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    padding-top: 16px;
    padding-bottom: 17px;
    border-radius: 3px;
    outline: none;
}
