.nav {
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    color: #FFFFFF;
}

.nav-logo {
    display: flex;
    align-items: center;
    padding: 27px 22px;
}

.nav-logo img {
    width: 27px;
    margin-right: 27px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items li {
    list-style-type: none;
    margin-right: 35px;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1;
    transition: color 0.3s;
}

.nav-items li:last-child {
    margin-right: 0;
}

.nav-items li:hover {
    color: #14B9D5;
}

.nav-search {
    padding: 27px;
    background-color: #000000;
}

.nav-search:hover {
    cursor: pointer;
}

.header {
    padding-bottom: 74px;
}

.header-parallax {
    position: relative;
	width: 100%;
	height: 439px;
	overflow: hidden;
}

.header-parallax::before {
	content: '';
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
	transform: translateZ(-150px) scale(4);
	background: center/cover no-repeat;
}

.header-parallax-1::before {
    background-image: url(../../img/bg/header-bg.jpeg);
}

.header-wrapper-paralax {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	transform: translateZ(-25px) scale(1.2);
    padding-top: 100px;
}

.title-white {
    color: #FFFFFF;
    padding-top: 164px;
    padding-bottom: 44px;
    font-size: 32px;
    line-height: 45px;
}

.btn-green {
    background-color: #89CA62;
    margin-right: 20px;
    transition: background-color 0.3s;
}

.btn-green:hover {
    background-color: #7ac54e;
    cursor: pointer;
}

.btn-blue {
    background-color: #14B9D5;
    transition: background-color 0.3s;
}

.btn-blue:hover {
    background-color: #0da8c4;
    cursor: pointer;
}