html, button {
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    color: #484848;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
}

.tbody {
    border-top: 13px solid #3A4965;
}

tr {
    border-bottom: 1px solid #CBCBCB;
}

.table {
    justify-content: space-around;
    border: 29px solid #3A4965;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.col {
    background: #FAFAFA;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    width: 180px;

}

.col-2 {
    background: #E3E3E3;
    width: 159px;
}

.col-3 {
    background: #F2F2F2;
    width: 160px;
}

.col-4 {
    background: #E3E3E3;
    width: 158px;
}

.col-5 {
    background: #F2F2F2;
    width: 158px;
}

.col-6 {
    background: #E3E3E3;
    width: 160px;
}

.col-7 {
    background: #F2F2F2;
    width: 160px;
}

.title-options {
    font-size: 14px;
}

.title-options span {
    font-size: 20px;
    display: block;
}

.head-row {
    padding-bottom: 20px;
}

.head-wrapper img {
    display: block; 
    margin: 26px auto 7px;

}

.lightgreen{
    background: #89C331;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

.red {
    background: #F04A56;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

.darkgreen {
    background: #20807C;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

.price {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #FFFFFF;
    width: 196px;
}

.option {
    margin-top: 23px;
    margin-bottom: 8px;
}

.amount {
    position: relative;
    font-size: 36px;
    float: left;
    margin-left: 19px;
    margin-bottom: 13px;
}

.amount sup {
    position: absolute;
    font-size: 18px;
    top: -8px;
    right: -24px;
}

.amount span {
    position: absolute;
    font-size: 14px;
    width: 150px;
    top: 10px;
    left: -2px;
}

.btn {
    position: relative;
    padding: 13px 40px;
    border-radius: 5px; 
    outline: none;
    border: none;
    font-weight: 700;
    line-height: 16px;
    color: #FFFFFF;
    background: #414141;
    transition: background 1.2s;
    margin-bottom: 20px;
}

.btn:hover {
    background: #343434;
}

.btn-pseudo {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: #343434;
    border-radius: 0px 0px 5px 5px;
    bottom: 0;
    left: 0;
}