@import url(normalize.css);

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, ul {
    margin: 0;
	padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
    }

.logo {
    font-size: 80px;
    line-height: 94px;
	margin-top: 61px;
	margin-bottom: 38px;
}

.logo a {
	text-decoration: none;
	color: #4bacff;
	
}

.logo span {
	color: #000000;
}

.nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #35444F;
	
}

.nav-list li {
	list-style-type: none;
	padding-top: 24px;
	padding-bottom: 19px;
	border-left: 1px solid #fff;
	transition: background 2s ease-out;
}

.nav-list li:first-child {
	padding-left: 32px;
	padding-right: 33px;
}

.nav-list li:nth-child(2) {
	padding-left: 36px;
	padding-right: 38px;
}

.nav-list li:nth-child(3) {
	padding-left: 40px;
	padding-right: 40px;
}

.nav-list li:last-child {
	border-right: none;
	padding-left: 40px;
	padding-right: 6px;
}

.nav-list li:hover {
	background: #222F3A;
}

.nav-list a {
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	line-height: 28px;
}

.main-section {
	display: flex;

}

.aside {
	width: 342px;
	margin-top: 50px;
}

.left-nav {
	width: 342px;
	border: 1px solid #000;
}

.left-nav li {
	list-style-type: none;
	font-size: 27px;
	line-height: 27px;
	padding-left: 44px;
	padding-top: 26px;
	padding-bottom: 26px;
	transition: padding-left 1.5s, background 0.5s;
}

.left-nav li:hover {
	background: #DBDBDB;
	padding-left: 64px;
}

.left-nav a{
	text-decoration: none;
	color: #485863;
}

.main-content {
	margin-top: 50px;
	margin-left: 52px;
	
}

.main-img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 75px 268px 73px 297px;
	border: 1px solid #000;
	
}

.main-img img {
	transform: scale(1);
	transition: transform 0.5s;
}

.main-img img:hover {
	transform: scale(1.05);
}

.main-text {
	font-size: 18px;
	line-height: 24px;
	margin-top: 37px;
	margin-bottom: 54px;
}

.footer-wrapper {
	display: flex;
	align-items: center;
	background: rgba(99, 105, 110, 0.48);
	margin-bottom: 30px;
}

.footer-nav {
	width: 928px;
}

.footer-nav-list {
	display: flex;
	justify-content: center;
}

.footer-nav-list li{
	list-style-type: none;
}


.footer-nav-list a {
	text-decoration: none;
	color: #0C1927;
	list-style-type: none;
	font-size: 28px;
	line-height: 28px;
	margin-left: 30px;
	transition: color 0.2s;
}

.footer-nav-list a:hover {
	color: #3181A6;
	border-bottom: 2px solid #3181A6;
}

.copyright {
	width: 312px;
	text-align: right;
	font-size: 24px;
	line-height: 24px;
	color: #010101;
}





