body, menu {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body, menu, h3, p {
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url('../img/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    position: relative;
}

.subheader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    transition: 0.6s;
    padding-bottom: 18px;
    padding-top: 17px;
}

.main-logo:hover {
    color: #236d47;
}

.menu-items {
    display: flex;
    align-items: center;  
    position: relative;
    list-style-type: none;
}

.menu-items i {
    font-size: 24px;
    margin-right: 24px;
}

.menu-items a {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.6s;
}

.menu-items a:hover {
    color: #236d47;
}

.menu-authorization {
    color: #FFFFFF;
    margin-left: 27px;
}

.menu-items:last-child:after {
    content: '';
    position: absolute;
    display: block;
    width: 1px; 
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    margin-right: 27px;
    left: 140px;
}

.form-flex-wparrer {
    display: flex;
    align-items: center;
    height: 90vh;
}

.form-wrapper {
    width: 444px;
    margin: 0 auto;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
}

.form-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 60px 38px;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #434343;
}

.title::before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 31px;
    left: 0;
}

.form-title-wrapper a {
    text-decoration: transparent;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: text-decoration 1s, color ease-out 0.6s;
}

.form-title-wrapper a:hover {
    text-decoration: underline;
    color: #01813F;
}

.btn {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
}

.btn i {
    font-size: 24px;
    margin-right: 36px;
    padding-left: 18px;
}

.btn-socials-left {
    background-color: #305DB8;
    width: 160px;
    margin-right: 4px;
    margin-bottom: 31px;
    padding-right: 20px;
    transition: 0.6s;
}

.btn-socials-left::after {
    content: '';
    display: block;
    width: 1px;
    height: 28px;
    background-color: #0A162F;;
    opacity: 0.1;
    position: absolute;
    top: 103px;
    left: 114px;
}

.btn-socials-left:hover {
    background-color: #022263;
}

.btn-socials-right {
    background-color: #DF4A32;
    width: 160px;
    padding-right: 20px;
    transition: 0.6s;
}

.btn-socials-right::after {
    content: '';
    display: block;
    width: 1px;
    height: 28px;
    background-color: #0A162F;;
    opacity: 0.1;
    position: absolute;
    top: 103px;
    right: 150px;
}

.btn-socials-right:hover {
    background-color: #AB1F09;
}

.central-separator {
    position: absolute;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    background-color: #ffffff;
    padding: 0 3px;
}

.central-separator-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.central-separator-wrapper::before {
    content: '';
    display: block;
    width: 324px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    top: 8px;
}

.form {
    margin-top: 24px;
}

.text-input{
    width: 324px;
    height: 46px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    color: #434343;
    transition: box-shadow 0.6s;
}

.text-input::-webkit-input-placeholder { 
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    padding: 15px 20px;
  }

.text-input::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    padding: 15px 20px;
  }

.text-input:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    padding: 15px 20px;
  }

.text-input:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    padding: 15px 20px;
  }

.text-input:focus {
    box-sizing: border-box;
    padding-left: 20px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

.checkbox {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    text-align: left;
    padding-left: 56px;
}

.checkbox  a {
    text-decoration: transparent;
    color: rgba(60, 184, 120, 0.8);
    transition: color 0.6s;
    transition: text-decoration 1s, color ease-out 0.6s;
}

.checkbox  a:hover {
    color: #01813F;
    text-decoration: underline;
}

.checkbox:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 14px;
    cursor: pointer;
}

.checkbox:checked + label::before,
.checkbox:not(:checked) + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.checkbox:checked + label::after,
.checkbox:not(:checked) + label::after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 3px;
    top: 1px;
    width: 12px;
    height: 6px;
    border-radius: 1px;
    border-left: 2px solid #01813F;
    border-bottom: 2px solid #01813F;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox:not(:checked) + label::after {
    opacity: 0;
}

.checkbox:checked + label::after {
    opacity: 1;
}

.btn-submit {
    width: 324px;
    background: rgba(60, 184, 120, 0.8);
    padding-left: 99px;
    margin-bottom: 38px;
    margin-top: 20px;
    transition: 0.6s;
}

.btn-submit:hover {
    background-color: #01813F;
}