@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.item-list {
    font-family: 'Open Sans', sans-serif;
}
.timer {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 17px;
    color: red;
}