/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

html {
    overflow: hidden;
}

.main-page {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
}

body, ul, h2, blockquote {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 996px;
    margin: 0 auto;
    text-align: center;
}

.polygon-top {
    position: absolute;
    float: left;
    shape-outside: polygon(0 0, 50% 85px, 100% 0);
    clip-path: polygon(0 0, 50% 85px, 100% 0);
    height: 85px;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
}

.polygon-bottom {
    position: absolute;
    float: left;
    shape-outside: polygon(50% 100%, 100% 73%, 100% 100%, 0 99%, 0 71%);
    clip-path: polygon(50% 100%, 100% 0px, 100% 100%, 0 100%, 0 0px);
    height: 85px;
    width: 100%;
    background-color: #ffffff;
    left: 0;
    bottom: 0;
}

.parralax-container {
    transform: translateZ(-25px) scale(1.3);
}

.header {
    position: relative;
    width: 100%;
    height: 596px;
    overflow: hidden;
}

.header::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background: center/cover no-repeat;
}

.header_1::before{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../img/bg/bg1.jpg);
}

.subheader {
    position: absolute;
    background-color: #ffffff;
    height: 100px;
    width: 100%;
    top: -52px;
    left: 0;
    transform: translateZ(-25px) scale(1.2);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
}

.nav-logo {
    text-decoration: none;
    color: black;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #424F57;
    transition: 0.6s;
}

.nav-logo:hover {
    color:  #14AFCA;
}

.nav-logo span {
    font-weight: 700;
    color: #4aa8bc;
}

.list-items {
    display: flex;
}

.list-items li{
    list-style-type: none;
    margin-left: 48px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.list-items li:first-child {
    margin-left: 0;
}

.list-items a {
    text-decoration: none;
    color: #424F57;
    transition: 0.6s;
}

.list-items a:hover {
    color:  #14AFCA;
}

.title-main {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 75px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 149px;
    text-align: center;
}

.question {
    padding-top: 122px;
    padding-bottom: 100px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #14AFCA;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #424F57;
    font-size: 18px;
}

.question-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
}

.companies {
    position: relative;
    width: 100%;
    height: 546px;
    overflow: hidden;
}

.companies::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background: center/cover no-repeat;
}

.companies_1::before {
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../img/bg/bg2.jpg);
}


.companies-padding {
    padding-top: 160px;
    padding-bottom: 56px;
}

.subtitle-white {
    color: #FFFFFF;
}

.companies-list-items {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: auto;
    align-items:center;
    justify-content: space-around;
    row-gap: 40px;
    padding-top: 47px;
}

.companies-list-items li {
    list-style-type: none;
}

.meet-us {
    padding-top: 122px;
    padding-bottom: 128px;
}

.meet-us-items {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.meet-us-item {
    width: 309px;
}

.meet-us-item-describe {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #424F57;
}

/* .testimonials {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../img/bg/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
} */

.testimonials {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.testimonials::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background: center/cover no-repeat;
}

.testimonials_1::before {
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../img/bg/bg3.jpg);
}

.testimonials-padding {
    padding-top: 160px;
    padding-bottom: 100px;
}

.blockquote {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.8px;
    color: #D3CCCC;
    margin-top: 48px;
    margin-bottom: 28px;
}

.cite {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    margin-left: 450px;
}

.reason {
    padding-top: 105px;
    padding-bottom: 96px;
}

.reason-content {
    margin-top: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.75px;
    color: #424F57;
}

.footer-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 416px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 88px;
}

.footer-text span {
    font-weight: 700;
}

