@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h4 {
    margin: 0;
    padding: 0;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.bg {
    background-image: url(../img/bg/background\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Nav-bar */

.nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 46px;
}

.nav-logo-wrapper {
    position: relative;
    display: flex;
    text-align: center;
    text-decoration: none;
    fill: #fff;
    transition: fill 0.3s;
}

.nav-logo-text {
    font-size: 29px;
    line-height: 29px;
    font-weight: 700;
    color: #fff;
    margin-left: 8px;
    text-transform: uppercase;
    transition: color 0.3s;
}

.nav-logo-text span {
    display: block;
    font-size: 18px;
}

.nav-logo-wrapper:hover {
    fill: #F26522; 
}

.nav-logo-wrapper:hover .nav-logo-text {
    color: #F26522; 
}

.nav-contacts-wrapper {
    display: flex;
    flex-direction: column;
}

.nav-contacts-wrapper a {
    text-decoration: none;
    color: #fff;
    text-align: right;
    margin-bottom: 19px;
    transition: color 0.3s;
}

.nav-contacts-wrapper a:hover {
    color: #F26522;
}

/* Main section */

.activity-items-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 61px;
}

.activity-item {
    position: relative;
    width: 300px;
}

.activity-item-img img {
    width: 100%;
}

.activity-item-title {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    transition: color 0.4s ease-in;
    padding-top: 20px;
    padding-bottom: 35px;
}

.activity-item_hover-link {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 220px;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .3);
    text-decoration: none; 
    transition: opacity 0.4s ease-in;
}

.activity-item_hover-link:hover,
.activity-item:hover .activity-item_hover-link {
    opacity: 1;
}

.activity-item:hover .activity-item-title {
    color: #F26522;
}

.activity-item_hover-link-wrapper {
    position: absolute;
    left: 0;
    bottom: -40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 7px 37px 12px 16px;
    background-color: #F26522;
    width: 247px;
    text-decoration: none;
    color: #fff;
    transition: bottom 0.4s ease-in;
}

.activity-item:hover .activity-item_hover-link-wrapper {
    bottom: 0;
}

.activity-item_hover-price span {
    font-size: 10px;
    line-height: 10px;
}
.activity-item_hover-price {
    font-size: 20px;
    line-height: 20px;
}

.activity-item_hover-link-wrapper p {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
}

.activity-item_hover-price::after {
    content: "";
    background-image: url(../img/icons/right_arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    width: 5px;
    height: 10px; 
    position: absolute;
    right: 15px;
    top: 35px;
}

/* Footer */

.footer p {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 17px;
}



