footer.footer 
    .container
        h2.title.title--white - get in touch with us -
        p.footer__text Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. 
        .footer__socials 
            a(href="#")
                i.fas.fa-rss.icon
            a(href="#")
                i.fab.fa-facebook-f.icon
            a(href="#")
                i.fab.fa-twitter.icon
            a(href="#")
                i.fas.fa-basketball-ball.icon
            a(href="#")
                i.fab.fa-pinterest-p.icon
        .footer__contacts 
            a(class="footer__address" href="https://www.google.com.ua/maps/place/DAN.IT/@50.4289584,30.5914387,17z/data=!3m1!4b1!4m5!3m4!1s0x40d4c57deccaada1:0xa5e7cf7c9f8ff18b!8m2!3d50.4289584!4d30.5936274?hl=ru" target="_blank") Moonshine St. 14-05 Light City &nbsp/&nbsp 
            a(class="footer__tel" href="tel:+001234567890") +00 (123) 456 78 90 &nbsp/&nbsp
            a(class="footer__mail" href="mailto:first.last@email.com") first.last@email.com

