.container
    .hamburger-menu__wrapper
        .hamburger-menu
            input(id="menu__toggle" type="checkbox")
            label(class="menu__btn" for="menu__toggle")
                span 
            
            ul.menu__box 
                li 
                    a(href="#" class="menu__item active") Home
                li 
                    a(href="#" class="menu__item") about us
                li 
                    a(href="#" class="menu__item") our journal
                li 
                    a(href="#" class="menu__item") projects
                li 
                    a(href="#" class="menu__item") news
                li 
                    a(href="#" class="menu__item") features
                li 
                    a(href="#" class="menu__item") contact
    .nav__wrapper
        ul.nav 
            li 
                a(href="#") Home
            li 
                a(href="#") about us
            li 
                a(href="#") our journal
            li 
                a(href="#") projects
            li 
                a(href="#") news
            li 
                a(href="#") features
            li 
                a(href="#") contact
    
    picture.header-bg
        source(media="(min-width: 564px)" srcset="img/bg-middle.png")
        source(media="(min-width: 768px)" srcset="img/bg-large.png")
        img(src="img/bg-small.png" alt="railway")
