main 
    section.recent-posts
        .container
            h2.title.title--padding-top - our Recent posts

            .post
                a(href="#" class="post__item")  
                    .post__img
                        img(src="img/post-1.png" alt="kettle")
                    .post__content-wrapper
                        h3.post__title Aenean Adipiscing Etiam Vestibulum
                        .post__link Photography, Journal   /   9 Comments
                        .post__text Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                a(href="#" class="post__item")  
                    .post__img
                        img(src="img/post-2.png" alt="table")
                    .post__content-wrapper
                        h3.post__title Aenean Adipiscing Etiam Vestibulum
                        .post__link Photography, Journal   /   9 Comments
                        .post__text Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                a(href="#" class="post__item")  
                    .post__img
                        img(src="img/post-3.png" alt="people with umbrellas")
                    .post__content-wrapper
                        h3.post__title Aenean Adipiscing Etiam Vestibulum
                        .post__link Photography, Journal   /   9 Comments
                        .post__text Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                a(href="#" class="post__item")  
                    .post__img
                        img(src="img/post-4.png" alt="roses")
                    .post__content-wrapper
                        h3.post__title Aenean Adipiscing Etiam Vestibulum
                        .post__link Photography, Journal   /   9 Comments
                        .post__text Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.

    section.instagram
        .container
            h2.title - Last Instagram Shot
            a(href="https://www.instagram.com/" target="_blank" class="slogan") go to our instagram page -
            .instagram__items-container
                .instagram__item.instagram__item-1
                    img(src="img/insta-post-1.png" alt="bicycle")
                .instagram__item.instagram__item-2
                    img(src="img/insta-post-2.png" alt="dor furniture")
                .instagram__item.instagram__item-3
                    img(src="img/insta-post-3.png" alt="cables")
                .instagram__item.instagram__item-4
                    img(src="img/insta-post-4.png" alt="car")
